// General
$primary: #7d1538;
$secondary: #4b5842;

// For items
$minor: #caffc4;
$medium: #f2ffc4;
$major: #ffdac4;
$critical: #ffc4c4;

//overriding bootstrap colors: (BEFORE bootstrap import)
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "info": #510d0a,
  "warning": #f2a359,
  "success": #6a7152,
  "dark": #2f2d2e,
  "danger": #a53f2b,
  "light": #b5d99c,
);

*{
    font-family: 'Lato', sans-serif;
    body{
        overflow-x: hidden;
        margin: 0;
        padding: 0;
        a{
            text-decoration: none;
        }
        #menu{
            margin-left: auto;
            .menu-item{
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .table-container, .form-container{
            width: 80%;
            margin: auto;
        }
        .table > :not(:first-child) {
            border-top: 0;
        }
        #page{
            .link a{
                font-size: 18px;
                color: $primary;
                &:hover{
                  color: $secondary;
                }
            }
            .minor{
                background-color: $minor;
            }
            .medium{
                background-color: $medium;
            }
            .major{
                background-color: $major;
            }
            .critical{
                background-color: $critical;
            }
        }
    }
}

@import "bootstrap/scss/bootstrap";