//overriding bootstrap colors: (BEFORE bootstrap import)
$theme-colors: (
  "primary": #a2faa3,
  "secondary": #a40e4c,
  "info": #dddbf1,
  "warning": #f2a359,
  "success": #6a7152,
  "dark": #210f04,
  "danger": #a53f2b,
  "light": #dddbf1,
);

*{
    font-family: 'Lato', sans-serif;
    body{
        overflow-x: hidden;
        margin: 0;
        padding: 0;
        a{
            text-decoration: none;
        }
        #page{
            .table-container, .form-container{
                width: 80%;
                margin: auto;
            }
            .label-text{
                text-align: right;
            }
        }
    }
}

@import "bootstrap/scss/bootstrap";