//overriding bootstrap colors: (BEFORE bootstrap import)
$theme-colors: (
  "primary": #7d1538,
  "secondary": #4b5842,
  "info": #510d0a,
  "warning": #f2a359,
  "success": #6a7152,
  "dark": #2f2d2e,
  "danger": #a53f2b,
  "light": #b5d99c,
);

*{
    font-family: 'Lato', sans-serif;
    body{
        overflow-x: hidden;
        margin: 0;
        padding: 0;
        a{
            text-decoration: none;
        }
        #menu{
            margin-left: auto;
            .menu-item{
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .table-container, .form-container{
            width: 80%;
            margin: auto;
        }
        .table > :not(:first-child) {
            border-top: 0;
        }
        #page{
            .label-text{
                text-align: right;
            }
            #project{
                background-color: red;
            }
        }
    }
}

@import "bootstrap/scss/bootstrap";