{% extends "base.html" %}
{% load custom_tags %}

{% block title %}
    Projects
{% endblock %}

{% block content %}
<div class="row">
    <h2 class="text-center text-secondary pb-3 pt-3">Your projects:</h2>
    {% if request.user|has_group:"admin" %}
    <p>For admin</p>
    {% endif %}

    {% if request.user|has_group:"tester" %}
    <p>For tester</p>
    {% endif %}

    {% if request.user|has_group:"developer" %}
    <p>For developer</p>
    {% endif %}

    {% if request.user|has_group:"manager" %}
    <p>For manager</p>
    {% endif %}
</div>
{% endblock %}