{% extends "base.html" %}
{% load custom_tags %}

{% block title %}
    Tasks
{% endblock %}

{% block content %}
<p class="text-center pt-3 link">
    <a href="/dashboard/{{project.id}}">
        <span>
            <i class="fas fa-arrow-circle-left"></i>&nbsp;Dashboard
        </span>
    </a>
</p>

{% if project.task_set.all %}
<h2 class="text-center text-secondary p-3">Tasks  backlog:</h2>

<p class="text-center link">
    <a href="/tasks_statistic/{{project.id}}" class="link">Get tasks statistic</a>
</p>

<div class="table-container">
    <table class="table table-hover table-bordered">
        <caption class="text-center">Tasks</caption>
        <thead class="bg-dark text-light">
            <tr class="text-center align-middle" scope="col">
                <th class="col-md-6">
                    Text
                </th>
                <th class="col-md-2"></th>
                {% if request.user|has_group:"manager" %}
                <th class="col-md-2"></th>
                <th class="col-md-2">
                    <a href="/create_task/{{project.id}}">
                        <i class="fas fa-plus-circle text-light"></i>
                    </a>
                </th>
                {% endif %}
            </tr>
        </thead>

        <tbody>
            {% for task in project.task_set.all %}
            <tr>
                <td class="col-md-6 align-middle">
                    <a href="/task/{{project.id}}/{{task.id}}">
                        <b>
                            <span class="text-primary">{{task.text}}</span>
                        </b>
                    </a>
                </td>
                <td class="col-md-2 text-center align-middle">
                    {% if task.get_status != 'backlog' %}
                    <a href="/delete_task_from_dashboard/{{project.id}}/{{task.id}}">
                        <span class="text-success">
                            <i class="fas fa-check-circle"></i>&nbspOn dashboard
                        </span>
                    </a>
                    {% else %}
                    <a href="/add_task_to_dashboard/{{project.id}}/{{task.id}}">
                        <span class="text-danger">
                            <i class="fas fa-times-circle text-info"></i>&nbspOn dashboard
                        </span>
                    </a>
                    {% endif %}
                </td>
                {% if request.user|has_group:"manager" %}
                <td class="col-md-2 text-center align-middle">
                    <a href="/update_task/{{project.id}}/{{task.id}}">
                        <i class="fas fa-pencil-alt text-warning"></i>
                    </a>
                </td>
                <td class="col-md-2 text-center align-middle">
                    <a href="/delete_task/{{project.id}}/{{task.id}}">
                        <i class="fas fa-trash-alt text-danger"></i>
                    </a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<p class="text-center">
    <a href="/load_tasks_in_csv/{{project.id}}">
        <button class="btn btn-success">Load CSV</button>
    </a>
</p>
{% else %}
<h3 class="text-danger text-center pt-5">
    <p>No tasks yet...</p>
    <p>
        <i class="fas fa-tasks"></i>
    </p>
</h3>
{% if request.user|has_group:"manager" %}
<a href="/create_task/{{project.id}}" class="text-center">
    <button class="btn btn-light">Create task</button>
</a>
{% endif %}
{% endif %}
{% endblock %}